body {
    /* background-color: #669999; */
    background-image: url("https://github.com/w0110/Web-homework/blob/main/210730_feature_spl003_main.jpg?raw=true");
    background-size: cover;
    margin: 0;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
h1 {
    color: #336699;
    margin: 0;
    margin-left: 150px;
}

p {
    color: #274a6d;
    margin: 0;
    margin-bottom: 3px;
    margin-left: 130px;
}

#bigest {
    padding-left: 120px;
    display: flex;
}

#draw {
    border: 3px #FFCC33 dashed;
    margin-right: 20px;
}

h3 {
    color: #ffe605;
    margin: 0;
}

h4 {
    color: #FFCC33;
    margin-top: 8px;
    margin-bottom: 5px;
}

a {
    text-decoration:none;
    color: #ffffff;
}

#bt1 {
    background-color: #88acac;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    color: #ffffff;
    border: 3px solid #000000;
}

#bgColor {
    position: absolute;
    left: 795px;
    top: 140px;
    margin: 0px;
    -webkit-animation: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
}
#bgColor::-webkit-color-swatch {
    border-radius: 50%;
    border: 3px solid #000000;
}
#bgColor::-moz-color-swatch {
    border-radius: 50%;
    border: 3px solid #000000;
}

#c {
    position: absolute;
    left: 762px;
    top: 294px;
    margin: 0px;
    margin: 0px;
    -webkit-animation: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
}
#c::-webkit-color-swatch {
    border-radius: 50%;
    border: 3px solid #000000;
}
#c::-moz-color-swatch {
    border-radius: 50%;
    border: 3px solid #000000;
}

#step1, #step2, #step3{
    background-color: rgba(136, 172, 172, 0.8);
    padding: 10px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#step1 {
    padding-bottom: 18px;
}



input[type="range"]{
    -webkit-appearance: none;
    overflow:hidden;     /* 限定範圍 */
    width:150px;
    height:20px;
    outline : none;      /* 避免點選會有藍線或虛線 */ 
    background: #FFCC33;
  }
  input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    position: relative;    /* 設為相對位置，為了前後區塊的絕對位置而設定 */
    width:10px;
    height:10px;
    background:#274a6d;
    border-radius:50%;
    transition:.2s;        /* 點選放大時候的漸變時間 */
  }
  input[type="range"]::-webkit-slider-thumb:before,
  input[type="range"]::-webkit-slider-thumb:after
  {
    position: absolute;
    top: 3px;
    width: 200px;          /* 長度很長沒關係，因為剛剛有用 overflow:hidden 了 */
    height: 2px;
    content:"";
    pointer-events: none;   /* 讓滑鼠可以點擊穿透偽元素，不然會點不到下面 */
    transition:.2s;
  }
  
  input[type="range"]::-webkit-slider-thumb:before{
    left: -1997px;
    background: #274a6d;
  }
  input[type="range"]::-webkit-slider-thumb:after {
    left: 10px;
    background: #edc;
  }
  input[type="range"]:active::-webkit-slider-thumb:before,
  input[type="range"]:active::-webkit-slider-thumb:after
  {
    top: 6px;
  }
  
  input[type="range"]:active::-webkit-slider-thumb{
    width:16px;
    height:16px;
  }
  
  input[type="range"]:active::-webkit-slider-thumb:after {
    left: 16px;
  }